/* =======================================================================
## ++ Globals
========================================================================== */

html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */


/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}


/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}


/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}


/* Divi Builder CSS Fix as per Bootstrap */

.et_divi_builder #et_builder_outer_content .et_pb_row {
    max-width: 1140px;
}

.et_section_regular .et_pb_row {
    width: 80% !important;
}

@font-face {
    font-family: 'm-100';
    src: url('assets/fonts/MuseoSans-100.otf') format('opentype');
}

@font-face {
    font-family: 'm-300';
    src: url('assets/fonts/MuseoSans-300.otf') format('opentype');
}

@font-face {
    font-family: 'm-500';
    src: url('assets/fonts/MuseoSans-500.otf') format('opentype');
}

@font-face {
    font-family: 'm-700';
    src: url('assets/fonts/MuseoSans-700.otf') format('opentype');
}

@font-face {
    font-family: 'm-900';
    src: url('assets/fonts/MuseoSans-900.otf') format('opentype');
}

$m-100: 'm-100','sans-sarif';
$m-300: 'm-300','sans-sarif';
$m-500: 'm-500','sans-sarif';
$m-700: 'm-700','sans-sarif';
$m-900: 'm-900','sans-sarif';

.skhButton {
    font-family: $m-300;

}

.et_pb_section.is--dark-bg{
    > div:first-child{
        z-index: -1;
    }
    background-color: transparent;
    background: linear-gradient(180deg,transparent 10%,#000) !important;
}

