h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

@include medium() {
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 26px
    }
    h3 {
        font-size: 22px
    }
}

@include normal() {
    h1 {
        font-size: 22px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
}

@include small() {
    h1 {
        font-size: 20px
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 2em;
    @include normal() {
        font-size: 13px;
    }
    &:last-child {
        margin-bottom: 0em;
    }
}

a {
    //@include link($link__color);
    color: grey;
}

.section--title {
    font-family: $m-300;
    h1 {
        color: $pt-color !important;
        font-size: 28px;
        margin-bottom: 12px !important;
        &:after,
        &:before {
            font-family: 'Revalia', cursive;
            font-size: 35px;
            vertical-align: -3px;
            color: #ddd !important;
        }
        &:after {
            padding-left: 15px;
            content: '/>';
        }
        &:before {
            content: '<';
            padding-right: 15px;
        }
    }
    h4 {
        color: #888!important;
        margin-top: 12px !important;
        padding-bottom: 5px !important;
        width: 50%;
        display: block;
        margin: 0 auto !important;
        line-height: 1.6;
    }
}

.section--title.is--white {
    h1 {
        color: white !important;
    }
    h4 {
        color: white !important;
    }
}

.secondary--title {
    h3 {
        font-family: $m-300;
        color: $pt-color !important;
        margin-bottom: 10px !important;
    }
}